@import "./pc.less";
@import "./pad.less";
@import "./mobile.less";

.prodetail {
  .odd-row {
    background: #fafafa;
  }
  &__coverImage {
    padding-top: 24px;
    height: 648px;
    background-image: url("../../assets/coverImageBg.png");
    background-size: cover;
    background-repeat: no-repeat;

    &__img {
      margin: 0 auto;
      width: 1000px;
      height: 506px;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
      }
    }
    &__name {
      font-weight: 600;
      font-size: 28px;
      color: #333333;
      line-height: 40px;
      text-align: center;
    }
    margin-bottom: 36px;
  }
  &__brand {
    position: relative;
    cursor: pointer;
    width: 520px;
    line-height: 90px;
    margin: 0 auto 74px;
    background: linear-gradient(90deg, #e80f10 0%, #fb3d03 100%);
    border-radius: 45px;
    font-weight: 600;
    font-size: 24px;
    padding-left: 120px;
    color: #ffffff;
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 14px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../../assets/arrow-r-half.png");
      background-repeat: no-repeat;
      right: 53px;
      background-size: contain;
    }
    .brand-1 {
      width: 90px;
      height: 27px;
      left: 20px;
    }
    .brand-2 {
      width: 80px;
      height: 90px;
      left: 28px;
    }
    .brand-3 {
      width: 58px;
      height: 58px;
      left: 38px;
    }
    &__img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__title {
    background: #fdfaf3;
    padding-left: 23px;
    line-height: 60px;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #e60012;
    }
  }
  &__container {
    width: 1120px;
    margin: 0 auto;
    &__intro {
      margin-bottom: 40px;
      &__tips {
        margin-top: 27px;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        line-height: 40px;
      }
    }
    &__additional {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 40px;
      &__sku {
        .prodetail__title {
          margin-bottom: 30px;
        }
        width: 560px;
      }
      &__allergy {
        .prodetail__title {
          margin-bottom: 30px;
        }
        width: 500px;
        &__info {
          padding: 40px;
          background: #fafafa;
          border-radius: 14px;

          &__tips {
            font-size: 18px;
            color: #000000;
            line-height: 40px;
          }
        }
      }
    }
    &__video {
      margin-bottom: 40px;
      .prodetail__title {
        margin-bottom: 40px;
      }
      .videocontainer {
        width: 100%;
        height: 650px;
        .play {
          width: 160px;
        }
      }
    }
    &__cookbook {
      .prodetail__title {
        margin-bottom: 40px;
      }
      &__more {
        cursor: pointer;
      }
    }
  }
}
