@import "./mobile.less";
@import "./pc.less";
@import "./pad.less";

// Common
.Home {
  margin: 10px auto 0;
  .embla {
    overflow: hidden;
  }

  .embla-wrapper {
    position: relative;
    overflow: hidden;
  }

  .embla-wrapper.mobile {
    .embla {
      padding: 0;
    }
  }

  .embla-wrapper.desktop {
    .embla {
      padding: 0 5%;
    }
  }

  .embla__slide.mobile {
    flex: 0 0 100%;
  }

  .embla__slide.desktop {
    flex: 0 0 90%;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    cursor: pointer;
    position: relative;
  }

  .embla__img {
    display: block;
    width: 100%;
  }

  /* 左右按钮 */
  .embla__buttons {
    width: 77%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* 允许子元素点击 */
  }

  .embla__btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: auto;
    cursor: pointer;
    transition: background 0.3s;
  }

  .embla__btn:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  /* 分页器 */
  .embla__pagination {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 12px;
    left: 80%;
  }

  .embla__dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333;
    opacity: 1;
  }

  .embla__dot.is-selected {
    width: 20px;
    height: 10px;
    border-radius: 40%;
    background-color: #fff;
  }

  // 轮博圆点
  .swiper-pagination {
    text-align: left;
    padding-left: 72vw;
    margin-bottom: 2vw;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    width: 20px;
    height: 10px;
    border-radius: 40%;
    background-color: #fff;
  }

  // 轮播
  .banner {
    position: relative;
    width: 100vw;
    margin-top: 1px;
    max-height: 600px;
    .banner__prev {
      left: 10%;
    }
    .banner__next {
      right: 10%;
    }
    .banner__prev,
    .banner__next {
      cursor: pointer;
      position: absolute;
      width: 41px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
    }
  }

  // 波浪
  .wave {
    position: relative;
    z-index: 1;
    top: 0px;
    margin-top: -39px;
    height: 40px;
    background-image: url("../../assets/wave.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
  }

  // 日式咖喱课堂
  .classroom {
    position: relative;
    width: 100vw;
    height: 580px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/classroom_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: -65px;
    &__mob1,
    &__mob2 {
      display: none;
    }
    &__title {
      width: 232px;
    }

    &__book {
      width: 276px;
      position: absolute;
      top: 180px;
      margin-left: -838px;
      z-index: 1;
      > img {
        transition: all 0.8s ease-in;
        transform: translate(0, 100px);
      }
    }
    &__tips {
      width: 1254px;
      position: absolute;
      top: 3px;
      margin-left: 574px;
      > img {
        transition: all 0.8s ease-in 0.8s;
        transform: translate(-100px, 0);
      }
    }
    .btn {
      position: absolute;
      bottom: 60px;
      width: 240px;
      height: 60px;
      .icon {
        right: 3%;
        width: 48px;
      }
      &__desc {
        font-size: 24px;
        text-align: left;
        padding-left: 54px;
      }
    }
  }

  .hotfancy {
    position: relative;
    padding-bottom: 60px;
    width: 100vw;
    background-image: url("../../assets/hot_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    // 人气菜谱
    .hot {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 70px;
      width: 100vw;
      &__title {
        width: 232px;
      }
      &__showcase {
        margin-top: 53px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .caseItem {
          padding: 20px 15px 22px;
          width: 538px;
          margin-right: 45px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-shadow: 0 0px 30px rgba(6, 0, 1, 0.1);
          &:last-child {
            margin-right: 0;
          }
          .hot_title {
            display: none;
          }
          &__title {
            font-size: 24px;
            color: #e60012;
          }
          &__mobileTitle {
            display: none;
          }
          &__img {
            margin-top: 8px;
            height: 320px;
            & > img {
              max-width: 100%;
              max-height: 100%;
              width: auto;
            }
          }
          &__more {
            cursor: pointer;
            margin-top: 20px;
            width: 180px;
          }
        }
      }
    }

    // 花式菜谱
    .fancy {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__mobileBanner {
        display: none;
      }
      &__showcase {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 18px;
        width: 1554px;
        &__item {
          cursor: pointer;
          width: 375px;
          margin-right: 13px;
          &__img {
            padding: 6px;
            border-radius: 24px;
            background: #fff;
            height: 222px;
            border-radius: 24px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            & > img {
              border-radius: 24px;
              height: 100%;
            }
          }
          &__desc {
            width: fit-content;
            margin: 18px auto 0;
            position: relative;
            // display: inline-block;
            padding: 10px 64px 10px 48px;
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            background-color: #e60012;
            border-radius: 18px;
            color: #fff;
            &:after {
              content: "";
              position: absolute;
              right: 20px;
              top: 50%;
              transform: translateY(-50%);
              background: url("../../assets/arrow-r.png") no-repeat;
              width: 16px;
              height: 16px;
              background-size: contain;
            }
          }
        }
      }
      &__title {
        width: 228px;
        margin-bottom: 63px;
      }
      &__btn {
        cursor: pointer;
        margin-top: 95px;
        width: 240px;
        height: 60px;
        .icon {
          right: 3%;
          width: 48px;
        }
        .btn__bg {
          height: 100%;
        }
        .btn__desc {
          font-weight: 600;
          font-size: 24px;
          color: #ffffff;
          text-align: left;
          padding-left: 28px;
        }
      }
      &__swiperwrap {
        width: 1120px;
        .fancy__swipercontainer {
          position: relative;
          border-radius: 10px;

          .slideContainer {
            > img {
              border-radius: 10px;
            }
          }
          .slideDesc {
            margin-top: 10px;
            font-size: 18px;
            line-height: 34px;
            &:after {
              width: 14px;
              height: 11px;
              right: 12px;
            }
          }
        }
        .swiper__tips {
          display: none;
        }
        .fancy__prev {
          cursor: pointer;
          position: absolute;
          width: 7%;
          top: 41%;
          z-index: 9;
          left: -10%;
        }
        .fancy__next {
          cursor: pointer;
          position: absolute;
          width: 7%;
          top: 41%;
          z-index: 9;
          right: -10%;
        }
      }
    }
  }

  // 波浪
  .wave1 {
    position: relative;
    z-index: 1;
    top: 0px;
    height: 80px;
    background-image: url("../../assets/wave1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
  }

  // 产品介绍
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/product_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    padding-bottom: 100px;
    &__title {
      margin-top: 96px;
      width: 228px;
    }
    &__container {
      margin-top: 38px;
      width: 972px;
      .list1 {
        .list__right {
          position: absolute;
          top: 20%;
          right: 7%;
          width: 36%;
          transition: all 0.8s ease-in 0.8s;
          transform: translate(100px, 0);
        }
        .list__more {
          right: 10%;
          transition: all 0.8s ease-in 1.2s;
          transform: translate(100px, 0);
        }
        .list__left {
          transition: all 0.8s ease-in;
          transform: translate(-100px, 0);
        }
      }
      .list2 {
        .list__left {
          position: absolute;
          top: 20%;
          left: 3%;
          width: 47%;
          transition: all 0.8s ease-in 0.8s;
          transform: translate(-100px, 0);
        }
        .list__more {
          left: 12%;
          transition: all 0.8s ease-in 1.2s;
          transform: translate(-100px, 0);
        }
        .list__right {
          transition: all 0.8s ease-in;
          transform: translate(100px, 0);
        }
      }
      &__list {
        margin-bottom: 30px;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
        .list__more {
          position: absolute;
          width: 218px;
          bottom: 8%;
          cursor: pointer;
        }
      }
    }
    .more {
      display: none;
    }
  }

  // 关于好侍
  .abouths {
    width: 100vw;
    height: 420px;
    display: flex;
    flex-wrap: nowrap;
    &__container {
      width: 1120px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
    }
    &__title {
      display: none;
    }
    &__right {
      margin-top: 47px;
    }
    &__left {
      margin-top: 108px;
    }
    &__left,
    &__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__bg {
      // height: 40vw;
      height: 368px;
      width: 570px;
    }
    &__btn {
      width: 220px;
      cursor: pointer;
    }
    &__desc {
      margin-top: 47px;
      text-align: center;
      font-family: STYuanti-SC, STYuanti-SC;
      font-weight: 400;
      font-size: 15px;
      color: #000000;
      line-height: 32px;
      text-align: center;
      font-style: normal;
      text-transform: none;
    }
    &__desc-mob {
      display: none;
    }
    &__knowmore {
      display: none;
    }
  }
  // 新闻中心
  .news {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      width: 228px;
    }
    &__container {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
      .topping {
        padding-bottom: 30px;
        border-bottom: 1px solid #bab4b5;
      }
      .news__list {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 35px;
        .news__type {
          width: 80px;
          line-height: 36px;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          border-radius: 4px;
          &-company {
            background: #e60012;
          }
          &-activity {
            background: #f29800;
          }
          &-productor {
            background: #0071e2;
          }
        }
        .news__date {
          margin-left: 26px;
          font-weight: 500;
          font-size: 16px;
          color: #000000;
        }
        .news__desc {
          margin-left: 8px;
          font-weight: 500;
          font-size: 16px;
          color: #000000;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &__more {
      cursor: pointer;
      margin-top: 57px;
      width: 240px;
      position: relative;
      height: 60px;
      .icon {
        right: 3%;
        width: 48px;
      }
      .btn__bg {
        height: 100%;
      }
      .btn__desc {
        font-weight: 600;
        font-size: 24px;
        color: #ffffff;
        text-align: left;
        padding-left: 54px;
      }
    }
    &__more1 {
      display: none;
    }
  }
}

/*
* 动画
*/

@keyframes ricerotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes updown {
  0% {
    transform: translateY(0); /* 起始位置 */
  }

  50% {
    transform: translateY(-20px); /* 向上移动10px */
  }

  100% {
    transform: translateY(0); /* 返回到起始位置 */
  }
}

@keyframes scalePulse {
  0% {
    transform: scale(1); /* 初始大小 */
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1); /* 缩小回原始大小 */
  }
}

@keyframes currcybox {
  0% {
    transform: rotate(0deg) translateX(0); /* 初始位置，不旋转 */
  }

  5% {
    transform: rotate(-10deg) translateX(0); /* 向左倾斜15度 */
  }

  10% {
    transform: rotate(0deg) translateX(0); /* 回到正常位置 */
  }

  15% {
    transform: rotate(10deg) translateX(0); /* 向右倾斜15度 */
  }

  20% {
    transform: rotate(0deg translateX(0)); /* 回到正常位置 */
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -100% 0; /* 将背景移动到左边 */
  }
}

@keyframes beefly {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1.5rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slogandown {
  0% {
    transform: translateY(-300%) rotateZ(-10deg);
  }
  100% {
    transform: translateY(0) rotateZ(-10deg);
  }
}

@keyframes trx0 {
  100% {
    transform: translateX(0);
  }
}

.trs(@x:0,@y:0) {
  @keyframes trs {
    100% {
      transform: translate(@x, @y);
    }
  }
}

.transition(@x,@y:0) {
  transform: translate(@x, @y);
  transition: all ease-in 0.5s;
}
