// Mobile
@media only screen and (max-width: 767px) {
  div.Home {
    // 导航
    div.header {
      height: 73px;
      margin-top: 0;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__nav {
        display: none;
      }
      &__logo {
        width: 155px;
      }
      .mob__nav__btn {
        display: block;
        width: 5vw;
      }
      .mob__nav {
        position: absolute;
        width: 100%;
        background: #e60012;
        left: 0;
        top: 73px;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        padding-top: 2.5vw;
        &-show {
          display: flex;
        }
        .level-2-container {
          padding: 0 0 0 2vw;
          width: 100%;
          margin-bottom: 2vw;
        }
        .level-3-container {
          padding: 0 0 0 3vw;
          width: 100%;
          margin-bottom: 1.5vw;
        }
        .level-4-container {
          padding: 0 0 0 4vw;
          width: 100%;
          margin-bottom: 1vw;
        }
        .level-1-wrap,
        .level-2-wrap,
        .level-3-wrap {
          width: 100%;
        }
        .visible-true {
          display: block;
        }

        .visible-false {
          display: none;
        }

        &__list {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          width: 96%;
          padding: 0 7vw 0 3vw;
          margin: 0 auto 2.5vw;
          position: relative;
          .unsub {
            width: 5vw;
          }
          &__title {
            font-size: 1.14rem;
            color: #000000;
          }
          &__icon {
            width: 5vw;
            height: 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            > img {
              width: 2.5vw;
            }
          }
          .level-1,
          .level-2,
          .level-3,
          .level-4 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            border-radius: 10px;
          }
          .level-1 {
            height: 12vw;
            .mob__nav__list__title {
              font-weight: bold;
            }
          }
          .level-2 {
            font-size: 1.04rem;
            height: 10vw;
          }
          .level-3 {
            font-size: 0.94rem;
            height: 8vw;
          }
        }
      }
    }

    .wave {
      display: none;
    }
    // 轮播
    .banner {
      border-top: 1px solid #e60012;
    }
    // 日式咖喱课堂
    .classroom {
      padding-top: 10vw;
      height: 156vw;
      &__mob1 {
        position: absolute;
        top: 20%;
        left: 10%;
      }
      &__mob2 {
        position: absolute;
        width: 80vw;
        top: 20%;
        left: 24%;
      }
      &__title {
        width: 59vw;
      }
      .btn {
        width: 44vw;
        height: 10vw;
        &__desc {
          font-size: 1.4rem;
        }
        .icon {
          width: 7vw;
        }
      }
      &__book {
        width: 43vw;
        top: 51%;
        margin-left: 0;
        left: 0;
      }
      &__tips {
        display: none;
      }
    }

    div.hotfancy {
      padding-bottom: 6vw;
      // 人气菜谱
      .hot {
        padding-top: 23vw;
        &__title {
          width: 59vw;
        }
        &__showcase {
          margin-top: 8vw;
          width: 88vw;
          flex-wrap: wrap;
          .caseItem {
            width: 100%;
            padding: 9px 10px 22px;
            border-radius: 10px;
            margin-bottom: 9vw;
            &:last-child {
              margin-bottom: 0;
            }
            .hot_title {
              display: block;
              width: 59vw;
              margin-top: 3vw;
            }
            &__img {
              margin-top: 0;
            }
            &__title {
              display: none;
            }
            &__more {
              margin-top: 3vw;
              width: 44vw;
            }
          }
        }
      }
      // 花式菜谱
      .fancy {
        margin-top: 18vw;
        &__title {
          width: 59vw;
          margin-bottom: 7vw;
        }
        &__btn {
          width: 50vw;
          margin-top: 22vw;
        }
        &__swiperwrap {
          width: 81vw;
          .swiper__tips {
            display: block;
            font-family: Yuanti SC, Yuanti SC;
            font-weight: bold;
            font-size: 20px;
            color: #ffffff;
            line-height: 33px;
            padding: 5px 45px 7px 28px;
            position: relative;
            background: #e60012;
            border-radius: 50px;
            width: max-content;
            margin: 3vw auto 0;
            &::after {
              content: '';
              position: absolute;
              right: 6%;
              top: 50%;
              transform: translateY(-50%);
              background: url('../../assets/arrow-r.png') no-repeat;
              width: 20px;
              height: 20px;
              background-size: contain;
            }
          }
        }
      }
    }

    // 产品介绍
    .product {
      &__title {
        margin-top: 16vw;
        width: 59vw;
      }
      &__container {
        margin-top: 9vw;
        width: 100%;
        &__list {
          margin-bottom: 9vw;
          .list1 {
            .list__right {
              right: 5%;
              width: 39vw;
            }
          }
          .list2 {
            .list__left {
              width: 46vw;
              top: 28%;
            }
          }
          .list__more {
            display: none;
          }
        }
      }
      .more {
        margin-top: 1vw;
        display: block;
        width: 44vw;
      }
    }

    // 波浪
    .wave1 {
      height: 15vw;
      top: 7px;
    }
    // 关于好侍
    .abouths {
      flex-direction: column;
      align-items: center;
      height: auto;
      &__desc {
        display: none;
      }
      &__desc-mob {
        display: block;
        margin-top: 0;
        font-family: Yuanti SC, Yuanti SC;
        font-weight: 400;
        font-size: 1rem;
        color: #7c7c7c;
        text-align: center;
        line-height: 2.4rem;
      }
      &__btn {
        display: none;
      }
      &__title {
        display: block;
        width: 59vw;
      }
      &__left {
        margin-top: 13vw;
      }
      &__right {
        margin-top: 12vw;
        width: 85%;
        height: auto;
        margin-left: 15%;
      }
      &__knowmore {
        width: 44vw;
        display: block;
        margin-top: 15vw;
      }
    }

    // 新闻中心
    .news {
      margin-top: 31vw;
      &__title {
        width: 59vw;
      }
      &__more {
        display: none;
      }
      &__more1 {
        display: block;
        margin-top: 14vw;
        width: 44vw;
      }
      &__container {
        margin-top: 9vw;
        width: 93%;
        .news__list {
          margin-top: 0;
          padding-top: 5vw;
          .news__type {
            width: 12vw;
            font-size: 0.85rem;
            line-height: 5vw;
            border-radius: 5px;
          }
          .news__date {
            margin-left: 4vw;
            font-size: 1rem;
            font-weight: 400;
          }
          .news__desc {
            width: 49vw;
            margin-left: auto;
            font-size: 1rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
        }
      }
    }

    // 底部
    .footer {
      margin-top: 16vw;
      height: auto;
      padding-top: 11vw;
      flex-direction: column;
      align-items: center;
      padding-bottom: 19vw;
      &__block {
        margin-top: 9vw;
        width: auto;
        .footer__title {
          font-family: Yuanti SC, Yuanti SC;
          font-size: 2rem;
          color: #fff;
          letter-spacing: 10px;
        }
      }
      &__channel {
        margin-top: 5vw;
      }

      .footer__channel__list {
        width: auto;
        padding: 0 7vw;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 2px;
          height: 5vw;
          background: #fff;
        }
        &:last-child {
          &:after {
            background: transparent;
          }
        }
        .icon {
          width: 10vw;
        }
      }
    }
  }
  .banner__next,
  .banner__prev {
    display: none;
  }
}
