// Pc
@media only screen and (min-width: 1200px) {
  @containerW: 1140px;
  div.Home {
    width: @containerW;
    // 轮播
    .banner {
      margin-left: calc(-50vw + @containerW / 2);
    }

    // 波浪
    .wave1 {
      left: calc(-50vw + @containerW / 2);
    }

    // 日式咖喱课堂
    .classroom {
      margin-left: calc(-50vw + @containerW / 2);
    }

    // 底部
    .footer {
      margin-left: calc(-50vw + @containerW / 2);
    }
  }
}
