@import "./mobile.less";
@import "./pc.less";
@import "./pad.less";

// Common
.footer {
  width: 100vw;
  margin-top: 80px;
  &__shop {
    width: 100vw;
    height: 250px;
    background: #e60012;
    display: flex;
    padding-top: 57px;
    justify-content: center;
  }
  &__block {
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
    &:first-child {
      border-right: 2px solid #fff;
    }
    .footer__title {
      font-size: 18px;
      color: #fff;
      line-height: 42px;
    }
  }

  .block__left {
  }
  .block__right {
  }

  &__rights {
    background-color: #e70012;
    height: 52px;
    &__container {
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__item {
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__links {
    background-color: #fff;
    height: 80px;
    &__container {
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__logo {
        width: 195px;
        cursor: pointer;
      }
      &__inner {
        display: flex;
        align-items: center;
        &__item {
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          color: #333333;
          padding: 0 36px;
          line-height: 18px;
          border-right: 1px solid #333333;
          &:last-child {
            border-right: none;
            padding-right: 0;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__channel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 26px;
    width: 100%;
    &__list {
      cursor: pointer;
      width: 61.73px;
      position: relative;
      .icon {
        width: 61.73px;
      }
      .qrcodeLeft {
        width: max-content;
        display: none;
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        padding: 10px 9px;
        &__list {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          height: 155px;
          &__title {
            font-size: 12px;
          }
        }
        .qrcode {
          height: 90%;
        }
      }
      .qrcodeLeft {
        left: -195px;
        background: #fff;
      }
      .qrcodeshow {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
