// Mobile
@media only screen and (max-width: 767px) {
  // 底部
  div.footer {
    margin-top: 16vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 19vw;
    &__shop {
      flex-direction: column;
      height: auto;
      padding-top: 0;
      padding-bottom: 9.33vw;
    }
    &__block {
      margin-top: 9vw;
      width: auto;
      .footer__title {
        font-family: Yuanti SC, Yuanti SC;
        font-size: 2rem;
        color: #fff;
        letter-spacing: 10px;
      }
    }
    &__channel {
      margin-top: 5vw;
    }

    .footer__channel__list {
      width: auto;
      padding: 0 7vw;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 5vw;
        background: #fff;
      }
      &:last-child {
        &:after {
          background: transparent;
        }
      }
      .icon {
        width: 10vw;
      }
    }

    &__links {
      height: 32.35vw;
      &__container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .footer__links__container__logo {
          margin-left: 5.2vw;
          width: 31.2vw;
        }
        &__inner {
          margin-top: 5.33vw;
          width: 100%;
          &__item {
            font-size: 0.875rem;
            padding: 0;
            text-align: center;
            flex: 1;
          }
        }
      }
    }

    &__rights {
      height: 21.33vw;
      &__container {
        flex-direction: column;
        justify-content: center;
        &__item {
          font-size: 0.625rem;
          margin-top: 0.2rem;
        }
      }
    }
  }
}
